body{
  text-align: center;
  font-size: 20pt;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.inner-box {
  width: 800px;
  box-shadow: 0 0px 38px rgba(0,0,0,0.30), 0 0px 12px rgba(0,0,0,0.22);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}
.with-hook{
  background-color: rgb(240, 247, 204);
}
.with-class{
  background-color: rgb(162, 247, 242);
}
input{
  font-size: 20pt;
  text-align: center;
  
}
label{
  padding: 5px;
  font-weight: 500;
  font-family: 'Acme', sans-serif;
}
.user-input{
  color: tomato;
  font-family: 'Chilanka', cursive;
}